<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.base.BookingAvailabilityBaseVoMapper">
  <resultMap id="BaseResultMap" type="com.penny.vo.base.BookingAvailabilityBaseVo">
    <id column="booking_availability_id" jdbcType="BIGINT" property="bookingAvailabilityId" />
    <result column="booking_availability_status" jdbcType="VARCHAR" property="bookingAvailabilityStatus" />
    <result column="booking_availability_date" jdbcType="DATE" property="bookingAvailabilityDate" />
    <result column="property_id" jdbcType="BIGINT" property="propertyId" />
  </resultMap>
  <sql id="Base_Column_List">
    booking_availability_id, booking_availability_status, booking_availability_date, 
    property_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from booking_availability
    where booking_availability_id = #{bookingAvailabilityId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from booking_availability
    where booking_availability_id = #{bookingAvailabilityId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="booking_availability_id" keyProperty="bookingAvailabilityId" parameterType="com.penny.vo.base.BookingAvailabilityBaseVo" useGeneratedKeys="true">
    insert into booking_availability (booking_availability_status, booking_availability_date, 
      property_id)
    values (#{bookingAvailabilityStatus,jdbcType=VARCHAR}, #{bookingAvailabilityDate,jdbcType=DATE}, 
      #{propertyId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" keyColumn="booking_availability_id" keyProperty="bookingAvailabilityId" parameterType="com.penny.vo.base.BookingAvailabilityBaseVo" useGeneratedKeys="true">
    insert into booking_availability
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bookingAvailabilityStatus != null">
        booking_availability_status,
      </if>
      <if test="bookingAvailabilityDate != null">
        booking_availability_date,
      </if>
      <if test="propertyId != null">
        property_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bookingAvailabilityStatus != null">
        #{bookingAvailabilityStatus,jdbcType=VARCHAR},
      </if>
      <if test="bookingAvailabilityDate != null">
        #{bookingAvailabilityDate,jdbcType=DATE},
      </if>
      <if test="propertyId != null">
        #{propertyId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penny.vo.base.BookingAvailabilityBaseVo">
    update booking_availability
    <set>
      <if test="bookingAvailabilityStatus != null">
        booking_availability_status = #{bookingAvailabilityStatus,jdbcType=VARCHAR},
      </if>
      <if test="bookingAvailabilityDate != null">
        booking_availability_date = #{bookingAvailabilityDate,jdbcType=DATE},
      </if>
      <if test="propertyId != null">
        property_id = #{propertyId,jdbcType=BIGINT},
      </if>
    </set>
    where booking_availability_id = #{bookingAvailabilityId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penny.vo.base.BookingAvailabilityBaseVo">
    update booking_availability
    set booking_availability_status = #{bookingAvailabilityStatus,jdbcType=VARCHAR},
      booking_availability_date = #{bookingAvailabilityDate,jdbcType=DATE},
      property_id = #{propertyId,jdbcType=BIGINT}
    where booking_availability_id = #{bookingAvailabilityId,jdbcType=BIGINT}
  </update>
</mapper>