<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.base.DiscountBaseVoMapper">
  <resultMap id="BaseResultMap" type="com.penny.vo.base.DiscountBaseVo">
    <id column="discount_id" jdbcType="BIGINT" property="discountId" />
    <result column="least_num_of_booking_days" jdbcType="INTEGER" property="leastNumOfBookingDays" />
    <result column="discount_value" jdbcType="DOUBLE" property="discountValue" />
  </resultMap>
  <sql id="Base_Column_List">
    discount_id, least_num_of_booking_days, discount_value
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from discount
    where discount_id = #{discountId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from discount
    where discount_id = #{discountId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="discount_id" keyProperty="discountId" parameterType="com.penny.vo.base.DiscountBaseVo" useGeneratedKeys="true">
    insert into discount (least_num_of_booking_days, discount_value
      )
    values (#{leastNumOfBookingDays,jdbcType=INTEGER}, #{discountValue,jdbcType=DOUBLE}
      )
  </insert>
  <insert id="insertSelective" keyColumn="discount_id" keyProperty="discountId" parameterType="com.penny.vo.base.DiscountBaseVo" useGeneratedKeys="true">
    insert into discount
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="leastNumOfBookingDays != null">
        least_num_of_booking_days,
      </if>
      <if test="discountValue != null">
        discount_value,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="leastNumOfBookingDays != null">
        #{leastNumOfBookingDays,jdbcType=INTEGER},
      </if>
      <if test="discountValue != null">
        #{discountValue,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penny.vo.base.DiscountBaseVo">
    update discount
    <set>
      <if test="leastNumOfBookingDays != null">
        least_num_of_booking_days = #{leastNumOfBookingDays,jdbcType=INTEGER},
      </if>
      <if test="discountValue != null">
        discount_value = #{discountValue,jdbcType=DOUBLE},
      </if>
    </set>
    where discount_id = #{discountId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penny.vo.base.DiscountBaseVo">
    update discount
    set least_num_of_booking_days = #{leastNumOfBookingDays,jdbcType=INTEGER},
      discount_value = #{discountValue,jdbcType=DOUBLE}
    where discount_id = #{discountId,jdbcType=BIGINT}
  </update>
</mapper>