<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.base.EcUserBaseVoMapper">
  <resultMap id="BaseResultMap" type="com.penny.vo.base.EcUserBaseVo">
    <constructor>
      <idArg column="ec_user_id" javaType="java.lang.Long" jdbcType="BIGINT" />
      <arg column="ec_user_name" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="email" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="hashed_password" javaType="java.lang.String" jdbcType="VARCHAR" />
      <arg column="ec_user_introduction" javaType="java.lang.String" jdbcType="VARCHAR" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List">
    ec_user_id, ec_user_name, email, hashed_password, ec_user_introduction
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ec_user
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from ec_user
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" keyColumn="ec_user_id" keyProperty="ecUserId" parameterType="com.penny.vo.base.EcUserBaseVo" useGeneratedKeys="true">
    insert into ec_user (ec_user_name, email, hashed_password, 
      ec_user_introduction)
    values (#{ecUserName,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{hashedPassword,jdbcType=VARCHAR}, 
      #{ecUserIntroduction,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" keyColumn="ec_user_id" keyProperty="ecUserId" parameterType="com.penny.vo.base.EcUserBaseVo" useGeneratedKeys="true">
    insert into ec_user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="ecUserName != null">
        ec_user_name,
      </if>
      <if test="email != null">
        email,
      </if>
      <if test="hashedPassword != null">
        hashed_password,
      </if>
      <if test="ecUserIntroduction != null">
        ec_user_introduction,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="ecUserName != null">
        #{ecUserName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="hashedPassword != null">
        #{hashedPassword,jdbcType=VARCHAR},
      </if>
      <if test="ecUserIntroduction != null">
        #{ecUserIntroduction,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.penny.vo.base.EcUserBaseVo">
    update ec_user
    <set>
      <if test="ecUserName != null">
        ec_user_name = #{ecUserName,jdbcType=VARCHAR},
      </if>
      <if test="email != null">
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="hashedPassword != null">
        hashed_password = #{hashedPassword,jdbcType=VARCHAR},
      </if>
      <if test="ecUserIntroduction != null">
        ec_user_introduction = #{ecUserIntroduction,jdbcType=VARCHAR},
      </if>
    </set>
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.penny.vo.base.EcUserBaseVo">
    update ec_user
    set ec_user_name = #{ecUserName,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      hashed_password = #{hashedPassword,jdbcType=VARCHAR},
      ec_user_introduction = #{ecUserIntroduction,jdbcType=VARCHAR}
    where ec_user_id = #{ecUserId,jdbcType=BIGINT}
  </update>
</mapper>