<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>
    <properties resource="application.properties"/>
    <classPathEntry location="/Users/macintosh/.m2/repository/org/postgresql/postgresql/42.6.0/postgresql-42.6.0.jar" />
    <context id="myContext" targetRuntime="MyBatis3" defaultModelType="flat">
        <!-- 這個插件给生成的Java model object增加了equals和hashCode方法 -->
        <!-- <plugin type="org.mybatis.generator.plugins.EqualsHashCodePlugin"/>-->
        <!-- <plugin type="org.mybatis.generator.plugins.ToStringPlugin"/>-->
        <plugin type="com.softwareloop.mybatis.generator.plugins.LombokPlugin">

            <!-- enable annotations -->
            <property name="builder" value="true"/>
            <!-- annotation's option(boolean) -->
            <property name="builder.fluent" value="true"/>
            <!-- annotation's option(String) -->
            <property name="builder.builderMethodName" value="myBuilder"/>

            <property name="accessors" value="true"/>
            <!-- annotation's option(array of String) -->
            <property name="accessors.prefix" value="m_, _"/>

            <property name="allArgsConstructor" value="true"/>

            <!-- disable annotations -->
            <!-- <property name="allArgsConstructor" value="false"/>-->
        </plugin>


        <!-- 註釋 -->
        <commentGenerator>
            <property name="suppressDate" value="true" />
            <property name="suppressAllComments" value="true" />
        </commentGenerator>

        <!-- 資料庫連線設定 -->
        <jdbcConnection
                driverClass="${spring.datasource.driver-class-name}"
                connectionURL="${spring.datasource.url}"
                userId="${spring.datasource.username}"
                password="${spring.datasource.password}"/>

        <!-- 类型转换 -->
        <javaTypeResolver>
            <!--是否使用bigDecimal，默認false。
                false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer
                true，把JDBC DECIMAL 和 NUMERIC 类型解析为java.math.BigDecimal-->
            <property name="forceBigDecimals" value="true"/>
            <!-- 當將 useJSR310Types 設置為 true 時，MyBatis Generator 將使用 JSR-310 中的 LocalDate、LocalTime、LocalDateTime、OffsetDateTime 等類型來映射相應的日期和時間欄位。-->
            <property name="useJSR310Types" value="true"/>
        </javaTypeResolver>

        <!-- 要產生的model位置，targetProject的值為專案的Source folder，所以是 src/main/java -->
        <javaModelGenerator
                targetPackage="com.penny.vo.base"
                targetProject="src/main/java">
            <!-- 自動為每一個生成的類創建一個構造方法-->
            <!-- <property name="constructorBased" value="true" />-->
            <!-- 是否讓schema作為 package 的后缀，默認為false -->
            <property name="enableSubPackages" value="false" />
            <!-- 是否針對string類型的字串在set方法中進行修剪，默認為false -->
            <!--<property name="trimStrings" value="false" />-->
        </javaModelGenerator>

        <!-- 要產生的MyBatis Mapper位置 -->
        <sqlMapGenerator targetPackage="mapper.base"
                         targetProject="src/main/resources">
            <property name="enableSubPackages" value="false" />
        </sqlMapGenerator>

        <!-- 要產生的MyBatis Dao位置 -->
        <javaClientGenerator
                targetPackage="com.penny.dao.base"
                targetProject="src/main/java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false" />
        </javaClientGenerator>

        <!-- 要生成的資料表 -->
        <table schema="" tableName="ec_user"
               domainObjectName="EcUserBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="ec_user_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="district"
               domainObjectName="DistrictBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="district_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="administrative_area"
               domainObjectName="AdministrativeAreaBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="administrative_area_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="address"
               domainObjectName="AddressBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="address_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property"
               domainObjectName="PropertyBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="booking_availability"
               domainObjectName="BookingAvailabilityBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="booking_availability_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="picture"
               domainObjectName="PictureBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="picture_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="picture_dt"
               domainObjectName="PictureDtBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="picture_dt_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_picture"
               domainObjectName="PropertyPictureBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_picture_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_review"
               domainObjectName="PropertyReviewBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_review_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="amenity_type"
               domainObjectName="AmenityTypeBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="amenity_type_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="amenity"
               domainObjectName="AmenityBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="amenity_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_amenity"
               domainObjectName="PropertyAmenityBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_amenity_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="bedroom"
               domainObjectName="BedroomBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="bedroom_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_main_type"
               domainObjectName="PropertyMainTypeBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_main_type_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_share_type"
               domainObjectName="PropertyShareTypeBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_share_type_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="discount"
               domainObjectName="DiscountBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="discount_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="booking_order"
               domainObjectName="BookingOrderBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="booking_order_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_sub_type"
               domainObjectName="PropertySubTypeBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_sub_type_id" sqlStatement="JDBC" identity="true"/>
        </table>

        <table schema="" tableName="property_discount"
               domainObjectName="PropertyDiscountBaseVo" enableCountByExample="false"
               enableUpdateByExample="false" enableDeleteByExample="false"
               enableSelectByExample="false" selectByExampleQueryId="false">
            <!--是否使用實際列名,默認為false-->
            <!--<property name="useActualColumnNames" value="false" />-->
            <generatedKey column="property_discount_id" sqlStatement="JDBC" identity="true"/>
        </table>

    </context>
</generatorConfiguration>