<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.BookingCalendarVoMapper">
    <resultMap id="BaseResultMap" type="com.penny.vo.BookingCalendarVo">
        <id column="booking_calendar_id" jdbcType="BIGINT" property="bookingCalendarId" />
        <result column="booking_date" jdbcType="DATE" property="bookingDate" />
        <result column="property_id" jdbcType="BIGINT" property="propertyId" />
    </resultMap>
    <sql id="Base_Column_List">
        booking_calendar_id, booking_date, property_id
    </sql>

    <select id="listByPropertyId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from booking_calendar
        where property_id = #{propertyId,jdbcType=BIGINT}
    </select>

    <select id="listByStartAndEndDate" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from booking_calendar
        where property_id = #{propertyId,jdbcType=BIGINT}
        and
        booking_date >= #{propertyId,jdbcType=BIGINT}
        and
        booking_date &lt;= #{endDate};
    </select>

    <delete id="deleteByPropertyIdAndCheckinPeriod"  parameterType="java.util.Map">
        delete from booking_calendar
        where property_id = #{propertyId,jdbcType=BIGINT}
            and booking_date between #{checkinDate} and  #{checkoutDate};
    </delete>
</mapper>