<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.DiscountVoMapper">
    <resultMap id="BaseResultMap" type="com.penny.vo.DiscountVo">
        <id column="discount_id" jdbcType="BIGINT" property="discountId" />
        <result column="least_num_of_booking_days" jdbcType="INTEGER" property="leastNumOfBookingDays" />
        <result column="discount_value" jdbcType="DOUBLE" property="discountValue" />
    </resultMap>
    <sql id="Base_Column_List">
        discount_id, least_num_of_booking_days, discount_value
    </sql>

    <select id="listByPropertyId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            d.discount_id, d.least_num_of_booking_days, d.discount_value
        from discount as d
        right join property_discount as pd on pd.discount_id = d.discount_id
        where pd.property_id = #{propertyId,jdbcType=BIGINT}
    </select>
</mapper>