<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.DistrictVoMapper">

    <resultMap id="BaseResultMap" type="com.penny.vo.DistrictVo">
        <id column="district_id" jdbcType="BIGINT" property="districtId" />
        <result column="district_name" jdbcType="VARCHAR" property="districtName" />
        <result column="administrative_area_id" jdbcType="BIGINT" property="administrativeAreaId" />
        <result column="parent_district_id" jdbcType="BIGINT" property="parentDistrictId" />
    </resultMap>

    <sql id="Base_Column_List">
        district_id, district_name, administrative_area_id, parent_district_id
    </sql>

    <select id="listByNameKeyword"  parameterType="java.lang.String" resultMap="BaseResultMap">
        <bind name="pattern" value="'%' + districtName + '%'" />
        select
            d1.district_id,
            d1.district_name,
            d1.administrative_area_id,
            d1.parent_district_id,
            d2.district_name as parent_district_name
        from district as d1
        left join district as d2 on d1.parent_district_id = d2.district_id
        where d1.district_name like #{pattern, jdbcType=VARCHAR}
    </select>

    <select id="selectAdminAreaLevelByPrimaryKey" parameterType="java.lang.Long" resultType="java.lang.Long">
        select
            a.administrative_area_level
        from district as d
        left join administrative_area as a on a.administrative_area_id = d.administrative_area_id
        where district_id = #{districtId, jdbcType=BIGINT}
    </select>
</mapper>