<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.PictureDtVoMapper">

    <resultMap id="BaseResultMap" type="com.penny.vo.PictureDtVo">
        <id column="picture_dt_id" jdbcType="BIGINT" property="pictureDtId" />
        <result column="picture_dt_size" jdbcType="INTEGER" property="pictureDtSize" />
        <result column="picture_dt_storage_path" jdbcType="VARCHAR" property="pictureDtStoragePath" />
        <result column="picture_dt_is_uploaded" jdbcType="BIT" property="pictureDtIsUploaded" />
        <result column="picture_id" jdbcType="BIGINT" property="pictureId" />
    </resultMap>

    <sql id="Base_Column_List">
        picture_dt_id, picture_id, picture_dt_storage_path, picture_dt_size
    </sql>

    <sql id="Join_Column_List">
        pd.picture_dt_id, pd.picture_id, pd.picture_dt_storage_path, pd.picture_dt_size, pp.property_id
    </sql>

    <select id="listByPictureIdList" parameterType="java.util.List" resultMap="BaseResultMap">
        select
            <include refid="Base_Column_List"/>
        from picture_dt
        where picture_id in
              <foreach collection="pictureIdList" item="pictureId" open="(" separator="," close=")">
                #{pictureId, jdbcType=BIGINT}
              </foreach>
    </select>

    <select id="listByPropertyIdAndSize" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            <include refid="Join_Column_List"/>
        from property_picture as pp
        left join picture_dt as pd on pp.picture_id = pd.picture_id
        where pp.property_id = #{propertyId, jdbcType=BIGINT}
            <if test="size != null">
                and pd.picture_dt_size = #{size, jdbcType=BIGINT}
            </if>
        <if test="offset != null and limit != null">
            limit #{limit} offset #{offset}
        </if>
    </select>

    <select id="selectByPictureIdAndSizeNum" parameterType="java.util.Map" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from picture_dt
        where picture_id = #{pictureId}
        and picture_dt_size = #{sizeNum}
    </select>

</mapper>