<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.penny.dao.PropertyGroupVoMapper">
    <resultMap id="BaseResultMap" type="com.penny.vo.PropertyGroupVo">
        <id column="property_group_id" jdbcType="BIGINT" property="propertyGroupId" />
        <result column="property_group_name" jdbcType="VARCHAR" property="propertyGroupName" />
    </resultMap>
    <sql id="Base_Column_List">
        property_group_id, property_group_name
    </sql>
    <select id="listAll"  resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from property_group
    </select>
</mapper>